.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient-bar);
  padding: 4rem 2rem;
  border-radius: 0.6rem;
  .cta-content {
    span {
      color: #0e0e0e;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.875rem;
    }
    h3 {
      color: #000;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 2.8125rem;
    }
  }
  .cta-btn {
    padding: 1.2rem 2.5rem;
    border-radius: 2.5rem;
    background: #000;
  }
}

@media screen and (max-width: 990px) {
  .cta {
    flex-direction: column;
    .cta-content {
      margin-bottom: 2rem;
    }
  }
}
